* {
    box-sizing: border-box;
  }

  button{
    margin:0.5rem;
  }



  #token {
  width: 360px;
  height: 140px;
  margin: auto;
  float: left;  
  padding-right: 10%;
  
  }

  fieldset{
    padding-left:60px;
    font-size: large;
    border: solid #443730 5px;
    margin-bottom:12%;
    
  }
  fieldset input[type="text"]{
    width:300px;
    margin: 0.5rem;

  }

  footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 7.5rem;   
  }
 